.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiAvatar-circle{
  float: left;
}
.contact-detail{
  display:table-cell;
  padding-left: 1rem;
}
.MuiTypography-h6{
  font-size: 15px!important;
}
.card{
  border: 1px solid #e5e5e5;
  border-radius: 60px;
  background: #26a69a;
  color: #fff;
  box-shadow: 0px 1px 5px #e2e2e2;
  padding: 0px 1rem;
  margin: 1rem 1rem 1.5rem;
}
.MuiCardContent-root{
  padding:1rem!important;
  display:flex
}
.MuiCard-root{
  padding: 2rem 1rem;
}
.MuiTypography-h5{
  font-size: 20px;
  font-weight: 600;
}
.MuiPagination-root {
  display: inline-block;
  margin-bottom: 2rem;
}
.center-pagination{
  text-align: center;
}
.MuiPaginationItem-textPrimary.Mui-selected{
  background-color: #26a69a!important;
}
.custom-checkbox{
  margin-left: auto!important;
}
.MuiFormLabel-root.Mui-focused{
  color:#1ca18d!important;
}
.MuiInput-underline:after{
  border-color:#1ca18d!important;
}

@media (max-width: 560px) {
  .MuiCard-root {
      margin:1rem 0px;
  }
  .card{
    margin:1rem 0 1.5rem;
    border-radius: 0px;
  }
  .MuiAvatar-root{
    display: block;
    float: none;
    margin: auto;
  }
  .MuiCardContent-root{
    display: block;
    text-align: center;
  }
  .contact-detail{
    display: block;
    padding-left: 0px;
    margin-top: 1rem;
  }
}